<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="var/cache/.phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="channel-diff">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="var/log/clover/clover.xml"/>
            <html outputDirectory="var/log/clover"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="var/log/surefire-reports/surefire-report.xml"/>
    </logging>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
